[submodule "wla-dx"]
	path = wla-dx
	url = https://github.com/vhelin/wla-dx.git
	branch = master
[submodule "bmp2tile"]
	path = bmp2tile
	url = https://github.com/maxim-zhao/bmp2tile.git
	branch = master
[submodule "bmp2tilecompressors"]
	path = bmp2tilecompressors
	url = https://github.com/maxim-zhao/bmp2tilecompressors
	branch = master
[submodule "flips"]
	path = flips
	url = https://github.com/Alcaro/Flips.git
	branch = master
[submodule "make"]
	path = make
	url = https://git.savannah.gnu.org/git/make.git
	branch = master
[submodule "pcmenc"]
	path = pcmenc
	url = https://github.com/maxim-zhao/pcmenc.git
	branch = master
